*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    header{
        width: 100%;
        #Menu1{
            width: 100%;
            height: 1.8vw;
            background-color: black;
            color: white;
            display: flex;
            justify-content: space-between;
            padding-left: 2vw;
            padding-right: 3vw;
            font-size: 0.8vw;
            align-items: center;
            #grandes{
                width: 80%;
            }
            #menuregional{
                display:flex;
                width:10%;
                justify-content: space-around;
            }
        }
        #menu2{
            width: 100%;
            height: 5vw;
            background-color: #F0A83E;
            color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 3vw;
            padding-right: 2vw;
            font-size: 1vw;
            img{
                width:15%;
            }
            #menuprincipal{
                width: 30%;
                display: flex;
                justify-content: space-around;   
            }
            #bars{
                display: none;
            }
        }
    }
    #pagina{
        width: 100%;
        .cuerpo{
            .fondo1{
                background-image: url(../img/Fondo.png);
                background-size: 100%;
                width: 100%;
                height: 39.5vw;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                color: #3C2313;
                #titulo{
                    width: 35%;
                    height: 4vw;
                    border-radius: 0.2em;
                    padding-top: 0.1%;
                    text-align: center;
                    font-size: 2.8vw;
                    background-color: white;
                    margin-right: 1vw;
                    margin-bottom: 0.8vw;
                }
                .centronegrita{
                    font-size: 1.1vw;
                    text-align: center;
                    margin-right: 11.5vw;
                    margin-bottom: 0.8vw;
                }
                .centro{
                    text-align: center;
                    color: white;
                    border-radius: 12px;
                    background-color: #F0A83E;
                    padding-top: 0.8%;
                    width: 12%;
                    height: 3vw;
                    font-size: 1.2vw;
                    margin-right: 11.5vw;
                }
            }
            .bodyproductos{
                width: 100%;
                height: 20vw;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                font-size: 1.2vw;
                color: grey;
                .patita{
                    width: 6%;
                }
                .negritatitulo{
                    font-weight: bold;
                    font-size: 4vw;
                    color: #3C2313;
                }
            }
            .productos1{
                width: 100%;
                display: flex;
                justify-content: center;
                height: 30vw;
                text-align: center;
                font-size: 1vw;
                .subproductos{
                    width: 22%;
                    height: 85%;
                    background-color: #FBFAF6;
                    margin-left: 1vw;
                    margin-right: 1vw;
                    color: #3C2313;
                    .img{
                        width:100%;
                    }
                }
            }
            .contactanos{
                width: 100%;
                height: 22vw;
                display:flex;
                flex-direction: column;
                align-items: center;
                .titulocontactanos{
                    font-size: 2vw;
                    color: #3C2313;
                    font-weight: bold;
                }
                .fill{
                    color: white;
                    background-color: #3C2313;
                    width: 25%;
                    height: 2vw;
                    margin-top: 1vw;
                    border-radius: 12px;
                    padding-left: 1vw;
                    font-size: 0.5vw;
                    border: none;
                }
                .botones{
                    width: 25%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    padding-top: 3vw;
                    padding-bottom: 2vw;
                    .reset{
                        width: 25%;
                        height: 2vw;
                        background-color: grey;
                        color: white;
                        border-radius: 12px;
                        text-align: center;
                        margin-right: 0.5vw;
                        margin-left: 0.5vw;
                        font-size: 1vw;
                        border: none;
                    }
                    .send{
                        width: 25%;
                        height: 2vw;
                        background-color: #F0A83E;
                        color: white;
                        border-radius: 12px;
                        text-align: center;
                        margin-right: 0.5vw;
                        margin-left: 0.5vw;
                        font-size: 1vw;
                        border: none; 
                    }
                }    
            }
            .barrasub{
                width: 100%;
                height: 3.5vw;
                background-color: #F0A83E;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                .subnovedades{
                    color: white;
                    font-size: 1.2vw;
                    padding-left: 1vw;
                    padding-top: 0.8vw;
                    width: 50%;
                    height: 100%;
                    img{
                        width: 5%;
                    }
                }
                .ingresamail{
                    width: 50%;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    margin-right: 2.5vw;
                    .fillmail{
                        background-color: white;
                        color: grey;
                        width: 60%;
                        height: 2.3vw;
                        font-size: 0.8vw;
                        padding-top: 0.7vw;
                        padding-left: 0.8vw;
                        margin: 0.5vw;
                        border-radius: 12px;
                    }
                    .subbutton{
                        background-color: #3C2313;
                        color: white;
                        width: 12%;
                        height: 2.1vw;
                        font-size: 0.8vw;
                        padding-top: 0.6vw;
                        margin: 0.5vw;
                        border-radius: 12px;
                        text-align: center;
                    }
                }
            }
        }
    }
    .Contactos{
        width: 100%;
        height: 15vw;
        background-color: #3C2313;
        color:white;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-right: 5vw;
        padding-left: 3vw;
        .contactos1{
            width: 50%;
        
            .contact{
                display: flex;
                flex-direction: row;
                margin-top: 1vw;
                .iconos{
                    width: 8%;
                }    
                div{
                    padding-top: 0.3vw;
                    padding-left: 1vw;
                    color: grey;
                    font-size: 0.5vw;
                }
                .titulocontac{
                    font-size: 1vw;
                    color: white;
                }
            }
        }
        .contactos2{
            width: 50%;
            text-align: end;
            .logomarron{
                width: 25%;
            }
        }
    }
    #Derechos{
        width: 100%;
        height: 2vw;
        background-color: black;
        color: white;
        text-align: center;
        padding-top: 0.5vw;
        font-size: 1vw;
    }
}